OTD/WEB-INF/adhoc/actionModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="simpleAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="labelOption" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="selectionConstraint" type="xs:string"/>
			<xs:attribute name="labelKey" type="xs:string"/>
			<xs:attribute name="labelCondition" type="xs:string"/>
			<xs:attribute name="clientTest" type="xs:string"/>
			<xs:attribute name="actionArgs" type="xs:string"/>
			<xs:attribute name="action" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="separator">
		<xs:complexType/>
	</xs:element>
	<xs:element name="selectAction">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="generatedOptions" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="option" maxOccurs="unbounded"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="separator"/>
						<xs:element ref="option" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="selectionConstraint" type="xs:string"/>
			<xs:attribute name="labelKey" use="required" type="xs:string"/>
			<xs:attribute name="clientTest" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType>
			<xs:attribute name="labelKey" use="required" type="xs:string"/>
			<xs:attribute name="isSelectedTestArgs" use="required" type="xs:string"/>
			<xs:attribute name="isSelectedTest" use="required" type="xs:string"/>
			<xs:attribute name="clientTest" type="xs:string"/>
			<xs:attribute name="actionArgs" use="required" type="xs:string"/>
			<xs:attribute name="action" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="labelOption">
		<xs:complexType>
			<xs:attribute name="labelKey" use="required" type="xs:string"/>
			<xs:attribute name="functionResponse" use="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="generatedOptions">
		<xs:complexType>
			<xs:attribute name="labelExpression" type="xs:string"/>
			<xs:attribute name="selectionConstraint" type="xs:string"/>
			<xs:attribute name="isSelectedTest" use="required" type="xs:string"/>
			<xs:attribute name="isSelectedTestArgs" type="xs:string"/>
			<xs:attribute name="functionArgs" type="xs:string"/>
			<xs:attribute name="function" use="required" type="xs:string"/>
			<xs:attribute name="clientTestArgs" type="xs:string"/>
			<xs:attribute name="clientTest" type="xs:string"/>
			<xs:attribute name="action" use="required" type="xs:string"/>
			<xs:attribute name="actionArgs" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="context">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="simpleAction" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:sequence minOccurs="0">
								<xs:element ref="selectAction"/>
								<xs:element ref="separator"/>
								<xs:element ref="simpleAction" maxOccurs="unbounded"/>
								<xs:element ref="separator"/>
								<xs:element ref="simpleAction"/>
							</xs:sequence>
							<xs:element ref="separator"/>
							<xs:element ref="simpleAction" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="condition"/>
							<xs:element ref="separator"/>
							<xs:element ref="condition"/>
							<xs:element ref="simpleAction"/>
							<xs:element ref="separator"/>
							<xs:element ref="simpleAction"/>
							<xs:element ref="selectAction"/>
							<xs:element ref="condition"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="selectAction"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="separator"/>
						<xs:element ref="simpleAction" maxOccurs="unbounded"/>
						<xs:element ref="separator"/>
						<xs:element ref="simpleAction"/>
						<xs:element ref="separator"/>
					</xs:sequence>
					<xs:element ref="simpleAction" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="separator" minOccurs="0"/>
				<xs:element ref="simpleAction" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="testArgs" type="xs:string"/>
			<xs:attribute name="test" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="context" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
