Database_Scripts/TASC GHI/2. UDB (Phase2)/TASC_FormGHI_StudentData_from_UDB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by MCGRAW-HILL COMPANIES (MCGRAW-HILL COMPANIES) -->
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by deep (DRC) -->
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions">
	<xs:annotation>
		<xs:documentation>TASC Form GHI Student Data Schema for PRISM</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>TASC Form GHI Student Data Integration from UDB to PRISM</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>XSD Filename: TASC_FormGHI_StudentData_from_UDB.xsd</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>XSD Schema Version 5.3</xs:documentation>
	</xs:annotation>
	<xs:element name="Org" nillable="true">
		<xs:complexType>
			<xs:attribute name="Level" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OrgName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OrgCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="26"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Demo">
		<xs:complexType>
			<xs:attribute name="DemoName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ethnicity"/>
						<xs:enumeration value="Examinee_ph"/>
						<xs:enumeration value="Hghst_Edu"/>
						<xs:enumeration value="Hme_Language"/>
						<xs:enumeration value="Race_Native"/>
						<xs:enumeration value="Race_Asian"/>
						<xs:enumeration value="Race_Black"/>
						<xs:enumeration value="Race_Pacific"/>
						<xs:enumeration value="Race_White"/>
						<xs:enumeration value="Race_None"/>
						<xs:enumeration value="Rdns_Assmnt"/>
						<xs:enumeration value="Stdnt_Addrss"/>
						<xs:enumeration value="Student_APT"/>
						<xs:enumeration value="Student_City"/>
						<xs:enumeration value="Student_St"/>
						<xs:enumeration value="Student_ZIP"/>
						<xs:enumeration value="Stdnt_Ctn_Cd"/>
						<xs:enumeration value="Email"/>
						<xs:enumeration value="StdntCtyName"/>
						<xs:enumeration value="RegisteredAtTestCent"/>
						<xs:enumeration value="SC_A-J"/>
						<xs:enumeration value="SC_K"/>
						<xs:enumeration value="SC_L"/>
						<xs:enumeration value="SC_M"/>
						<xs:enumeration value="SC_N-S"/>
						<xs:enumeration value="SC_T"/>
						<xs:enumeration value="SC_U"/>
						<xs:enumeration value="SC_V"/>
						<xs:enumeration value="SC_W"/>
						<xs:enumeration value="SC_X"/>
						<xs:enumeration value="SC_Y"/>
						<xs:enumeration value="SC_Z"/>
						<xs:enumeration value="ChronAge"/>
						<xs:enumeration value="AgeGroup"/>
						<xs:enumeration value="GovernmentID"/>
						<xs:enumeration value="GovernmentIDType"/>
						<xs:enumeration value="AlternateEmail"/>
						<xs:enumeration value="CellPhoneNumber"/>
						<xs:enumeration value="AlternateNumber"/>
						<xs:enumeration value="AttendCollege"/>
						<xs:enumeration value="Contact"/>
						<xs:enumeration value="Grade"/>
						<xs:enumeration value="AlternateID"/>
						<xs:enumeration value="CorrectionsID"/>
						<xs:enumeration value="CredentialingJID"/>
						<xs:enumeration value="TestCandidateFlag"/>
						<xs:enumeration value="Generation"/>
						<xs:enumeration value="InHighSchool"/>
						<xs:enumeration value="Options"/>
						<xs:enumeration value="Stdnt_Reg_Tc_Cd"/>
						<xs:enumeration value="Stdnt_Reg_Tccp_Cd"/>
						<xs:enumeration value="Rslvd_Ethnic"/>
						<xs:enumeration value="ReleaseScoresInd"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DemoValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Accom">
		<xs:complexType>
			<xs:attribute name="AccomName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Acc_Lrg_Font_1"/>
						<xs:enumeration value="Acc_Msc_Plr_1"/>
						<xs:enumeration value="Acc_Extnd_Tm_1"/>
						<xs:enumeration value="Acc_Mskng_Tl_1"/>
						<xs:enumeration value="Acc_Calc_READ"/>
						<xs:enumeration value="Acc_Drtn_1.25_READ"/>
						<xs:enumeration value="Acc_Drtn_2_READ"/>
						<xs:enumeration value="Acc_Scribe_READ"/>
						<xs:enumeration value="Acc_Tech_READ"/>
						<xs:enumeration value="Acc_Audio_READ"/>
						<xs:enumeration value="Acc_Breaks_READ"/>
						<xs:enumeration value="Acc_Drtn_1.5_READ"/>
						<xs:enumeration value="Acc_Phl_Sprt_READ"/>
						<xs:enumeration value="Acc_Sprt_Rm_READ"/>
						<xs:enumeration value="Acc_Sml_Grp_READ"/>
						<xs:enumeration value="Acc_Other_READ"/>
						<xs:enumeration value="Acc_Scrn_Rdr_1"/>
						<xs:enumeration value="Acc_Oln_Calc_1"/>
						<xs:enumeration value="Acc_Tst_Pse_1"/>
						<xs:enumeration value="Acc_Hlghtr_1"/>
						<xs:enumeration value="Acc_Blkg_Rlr_1"/>
						<xs:enumeration value="Acc_Mag_Gls_1"/>
						<xs:enumeration value="Acc_Ft_Bk_Cr_1"/>
						<xs:enumeration value="ExamineeWaiver_READ"/>
						<xs:enumeration value="AccRequested_READ"/>
						<xs:enumeration value="AccApproved_READ"/>
						<xs:enumeration value="Acc_Lrg_Font_2"/>
						<xs:enumeration value="Acc_Msc_Plr_2"/>
						<xs:enumeration value="Acc_Extnd_Tm_2"/>
						<xs:enumeration value="Acc_Mskng_Tl_2"/>
						<xs:enumeration value="Acc_Calc_WRIT"/>
						<xs:enumeration value="Acc_Drtn_1.25_WRIT"/>
						<xs:enumeration value="Acc_Drtn_2_WRIT"/>
						<xs:enumeration value="Acc_Scribe_WRIT"/>
						<xs:enumeration value="Acc_Tech_WRIT"/>
						<xs:enumeration value="Acc_Audio_WRIT"/>
						<xs:enumeration value="Acc_Breaks_WRIT"/>
						<xs:enumeration value="Acc_Drtn_1.5_WRIT"/>
						<xs:enumeration value="Acc_Phl_Sprt_WRIT"/>
						<xs:enumeration value="Acc_Sprt_Rm_WRIT"/>
						<xs:enumeration value="Acc_Sml_Grp_WRIT"/>
						<xs:enumeration value="Acc_Other_WRIT"/>
						<xs:enumeration value="Acc_Scrn_Rdr_2"/>
						<xs:enumeration value="Acc_Oln_Calc_2"/>
						<xs:enumeration value="Acc_Tst_Pse_2"/>
						<xs:enumeration value="Acc_Hlghtr_2"/>
						<xs:enumeration value="Acc_Blkg_Rlr_2"/>
						<xs:enumeration value="Acc_Mag_Gls_2"/>
						<xs:enumeration value="Acc_Ft_Bk_Cr_2"/>
						<xs:enumeration value="ExamineeWaiver_WRIT"/>
						<xs:enumeration value="AccRequested_WRIT"/>
						<xs:enumeration value="AccApproved_WRIT"/>
						<xs:enumeration value="Acc_Lrg_Font_4"/>
						<xs:enumeration value="Acc_Msc_Plr_4"/>
						<xs:enumeration value="Acc_Extnd_Tm_4"/>
						<xs:enumeration value="Acc_Calc_MATH_P1"/>
						<xs:enumeration value="Acc_Drn_1.25_MATH_P1"/>
						<xs:enumeration value="Acc_Drtn_2_MATH_P1"/>
						<xs:enumeration value="Acc_Scribe_MATH_P1"/>
						<xs:enumeration value="Acc_Tech_MATH_P1"/>
						<xs:enumeration value="Acc_Drn_1.25_MATH_P2"/>
						<xs:enumeration value="Acc_Drtn_2_MATH_P2"/>
						<xs:enumeration value="Acc_Scribe_MATH_P2"/>
						<xs:enumeration value="Acc_Tech_MATH_P2"/>
						<xs:enumeration value="Acc_Mskng_Tl_4"/>
						<xs:enumeration value="Acc_Audio_MATH_P1"/>
						<xs:enumeration value="Acc_Breaks_MATH_P1"/>
						<xs:enumeration value="Acc_Drtn_1.5_MATH_P1"/>
						<xs:enumeration value="Acc_Phl_Sprt_MATH_P1"/>
						<xs:enumeration value="Acc_Sprt_Rm_MATH_P1"/>
						<xs:enumeration value="Acc_Sml_Grp_MATH_P1"/>
						<xs:enumeration value="Acc_Other_MATH_P1"/>
						<xs:enumeration value="Acc_Audio_MATH_P2"/>
						<xs:enumeration value="Acc_Breaks_MATH_P2"/>
						<xs:enumeration value="Acc_Drtn_1.5_MATH_P2"/>
						<xs:enumeration value="Acc_Phl_Sprt_MATH_P2"/>
						<xs:enumeration value="Acc_Sprt_Rm_MATH_P2"/>
						<xs:enumeration value="Acc_Sml_Grp_MATH_P2"/>
						<xs:enumeration value="Acc_Other_MATH_P2"/>
						<xs:enumeration value="Acc_Scrn_Rdr_4"/>
						<xs:enumeration value="Acc_Oln_Calc_4"/>
						<xs:enumeration value="Acc_Tst_Pse_4"/>
						<xs:enumeration value="Acc_Hlghtr_4"/>
						<xs:enumeration value="Acc_Blkg_Rlr_4"/>
						<xs:enumeration value="Acc_Mag_Gls_4"/>
						<xs:enumeration value="Acc_Ft_Bk_Cr_4"/>
						<xs:enumeration value="ExamineeWaiver_MATH"/>
						<xs:enumeration value="AccRequested_MATH"/>
						<xs:enumeration value="AccApproved_MATH"/>
						<xs:enumeration value="Acc_Lrg_Font_5"/>
						<xs:enumeration value="Acc_Msc_Plr_5"/>
						<xs:enumeration value="Acc_Extnd_Tm_5"/>
						<xs:enumeration value="Acc_Mskng_Tl_5"/>
						<xs:enumeration value="Acc_Drtn_1.25_SCI"/>
						<xs:enumeration value="Acc_Drtn_2_SCI"/>
						<xs:enumeration value="Acc_Scribe_SCI"/>
						<xs:enumeration value="Acc_Tech_SCI"/>
						<xs:enumeration value="Acc_Audio_SCI"/>
						<xs:enumeration value="Acc_Breaks_SCI"/>
						<xs:enumeration value="Acc_Drtn_1.5_SCI"/>
						<xs:enumeration value="Acc_Phl_Sprt_SCI"/>
						<xs:enumeration value="Acc_Sprt_Rm_SCI"/>
						<xs:enumeration value="Acc_Sml_Grp_SCI"/>
						<xs:enumeration value="Acc_Other_SCI"/>
						<xs:enumeration value="Acc_Scrn_Rdr_5"/>
						<xs:enumeration value="Acc_Oln_Calc_5"/>
						<xs:enumeration value="Acc_Tst_Pse_5"/>
						<xs:enumeration value="Acc_Hlghtr_5"/>
						<xs:enumeration value="Acc_Blkg_Rlr_5"/>
						<xs:enumeration value="Acc_Mag_Gls_5"/>
						<xs:enumeration value="Acc_Ft_Bk_Cr_5"/>
						<xs:enumeration value="ExamineeWaiver_SCI"/>
						<xs:enumeration value="AccRequested_SCI"/>
						<xs:enumeration value="AccApproved_SCI"/>
						<xs:enumeration value="Acc_Lrg_Font_6"/>
						<xs:enumeration value="Acc_Msc_Plr_6"/>
						<xs:enumeration value="Acc_Extnd_Tm_6"/>
						<xs:enumeration value="Acc_Mskng_Tl_6"/>
						<xs:enumeration value="Acc_Calc_SS"/>
						<xs:enumeration value="Acc_Drtn_1.25_SS"/>
						<xs:enumeration value="Acc_Drtn_2_SS"/>
						<xs:enumeration value="Acc_Scribe_SS"/>
						<xs:enumeration value="Acc_Tech_SS"/>
						<xs:enumeration value="Acc_Audio_SS"/>
						<xs:enumeration value="Acc_Breaks_SS"/>
						<xs:enumeration value="Acc_Drtn_1.5_SS"/>
						<xs:enumeration value="Acc_Phl_Sprt_SS"/>
						<xs:enumeration value="Acc_Sprt_Rm_SS"/>
						<xs:enumeration value="Acc_Sml_Grp_SS"/>
						<xs:enumeration value="Acc_Other_SS"/>
						<xs:enumeration value="Acc_Scrn_Rdr_6"/>
						<xs:enumeration value="Acc_Oln_Calc_6"/>
						<xs:enumeration value="Acc_Tst_Pse_6"/>
						<xs:enumeration value="Acc_Hlghtr_6"/>
						<xs:enumeration value="Acc_Blkg_Rlr_6"/>
						<xs:enumeration value="Acc_Mag_Gls_6"/>
						<xs:enumeration value="Acc_Ft_Bk_Cr_6"/>
						<xs:enumeration value="ExamineeWaiver_SS"/>
						<xs:enumeration value="AccRequested_SS"/>
						<xs:enumeration value="AccApproved_SS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AccomValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Survey">
		<xs:complexType>
			<xs:attribute name="SurveyName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SurveyValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckIn" nillable="false">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="BarcodeID" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="8"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CheckinDatetime" type="ExdateTimeoptional" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Expired" nillable="false">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ExpiredDatetime" type="ExdateTimeoptional" use="required"/>
					<xs:attribute name="Reason" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Student" nillable="false">
		<xs:complexType>
			<xs:attribute name="DRCStudentID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StateCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="[A-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExamineeID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
						<xs:minLength value="1"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RegistrationOn" type="ExdateTimeoptional" use="required"/>
			<xs:attribute name="RegisteredBy" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LastName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FirstName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MiddleInitial" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DOB" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Gender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="M"/>
						<xs:enumeration value="F"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StudentUpdateDateTime" type="zsdateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document" nillable="false">
		<xs:complexType>
			<xs:attribute name="DRCStudentID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DocumentID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Schedule_ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BaseDocumentFlag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value=""/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TCAScheduleDate" type="zsdate" use="required"/>
			<xs:attribute name="TestEventUpdateDate" type="zsdateTime" use="required"/>
			<xs:attribute name="ImagingID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="26"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LithoCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LithoCodeUDB" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TestMode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
						<xs:pattern value="[01]{1}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TestLanguage" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
						<xs:pattern value="[ES]{1}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LargePrint" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="Y"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Braille" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="Y"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FieldTestForm" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ContentCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
						<xs:pattern value="[12456]{1}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Form" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StatusCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateScheduled" type="zsdateTime" use="required"/>
			<xs:attribute name="TimeOfDay" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchedAtTC_Cty_Code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Region_OrgCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchedTC_Code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchedEC_Code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ContentTestCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateTestTaken" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ChangedFormFlag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjScore" nillable="false">
		<xs:complexType>
			<xs:attribute name="ScoreType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ScoreValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Test_Score" nillable="false">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="Content_Score_Details" minOccurs="0"/>
				<xs:element ref="Objective_Score_Details" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Item_Responses_Details" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header_Info" nillable="false">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Student_List"/>
				<xs:element ref="Document_List"/>
			</xs:sequence>
			<xs:attribute name="ClientID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AdminID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CreateDateTime" type="zsdateTime" use="required"/>
			<xs:attribute name="TestName" use="required" fixed="TASC">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Org_Details" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Org" maxOccurs="3"/>
			</xs:sequence>
			<xs:attribute name="OrgID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TP" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContentScore" nillable="false">
		<xs:complexType>
			<xs:attribute name="ScoreType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ScoreValue" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Demo_Details" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Demo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemResponse" nillable="false">
		<xs:complexType>
			<xs:attribute name="ItemType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ItemSetCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ItemResponse" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Student_List" nillable="false">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Student_Details" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Case_Count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document_List" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Document_Details" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Case_Count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Survey_Details" nillable="false">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Survey" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Student_Details" nillable="true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Student"/>
				<xs:element ref="Org_Details"/>
				<xs:element ref="Demo_Details"/>
				<xs:element ref="Survey_Details"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document_Details" nillable="true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Document"/>
				<xs:element ref="Accommodation_Details"/>
				<xs:element ref="CheckIn"/>
				<xs:element ref="Expired"/>
				<xs:element ref="Test_Score"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Accommodation_Details" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Accom" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Content_Score_Details" nillable="true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContentScore" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Item_Responses_Details" nillable="true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ItemResponse" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objective_Score_Details" nillable="true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjScore" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ObjName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ObjCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- DateTime (zsdateTime, ExdateTimeoptional) format - YYYYMMDDHHMMSS -->
	<xs:simpleType name="zsdateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|[1][0-9]|2[0-4])([0-5][0-9])([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExdateTimeoptional">
		<xs:restriction base="xs:string">
			<xs:pattern value="((19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|[1][0-9]|2[0-4])([0-5][0-9])([0-5][0-9]))?"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Date (zsdate) format - YYYYMMDD -->
	<xs:simpleType name="zsdate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
